//colors

$dark-green: #092928;
$light-green: #A0B846;
$teal: #3DBB9A;

$pink: #F16067;
$off-white: #EFEEED;

$white: #fff;
$black: #000;
$light-grey: #bcbcbc;

//font family
@import url(https://fonts.googleapis.com/css?family=Lato:700,400,400italic);
$lato: Lato, sans-serif;
