@mixin button($teal){
    text-align: center;
    display: block;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid $off-white;
    text-decoration: none;
    color: $off-white;
    font-size: 1.5em;
    background-color: $teal;
    &:hover {
   background-color: #339f82;
    }
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin zero {
  padding: 0;
  margin: 0;
}
