.about {
    text-align: center;
    padding-top: 4em;
}

.aboutwrapper {
    padding: 2em;
}

h2 {
    text-align: center;
    font-size: 2em;
}

h4 {
    font-size: 1em;
    color: $teal;
}

.reports a {
    text-decoration: none;
    color: $pink;

}