//header items
.header{
	background-color: $dark-green;
}

.icon-hamberger{
	position: absolute;
	right: .5em;
	font-size: 35px;
	padding-bottom: 1em;
}

.icon-logo{
	position: absolute;
	top: 10px;
	float: left;
	left: .5em;
	padding-bottom: 1em;
	color: $off-white;
	font-size: 35px;
}

.navigation{
	li{
		border-bottom: 3px solid $dark-green;
		&:hover{
		border-bottom: 3px solid $teal;
		}
	}

	a{
		text-decoration: none;
		color: $off-white;
		display: block;
		padding: .5em 1em;
	}
}

.icon-hamberger,
.icon-close{
	float: right;
	color: $off-white;
	text-decoration: none;
	height: 40px;
	width: 40px;
		&:before{
		display: inline-block;
		width: 40px;
		height: 40px;
		padding: 13px 11px;
	}
	span{
		@include element-invisible;
	}
}

@media only screen and (max-width: 60em){
	.site-wrapper{
		position: relative;
		overflow: hidden;
		width: 100%;
		z-index: 100;
		background-color: $dark-green;

		.sliding-canvas{
			width: 100%;
			height: 100%;
			position: relative;
			transform: translateX(0);
			transition: all 300ms ease-in-out;
		}
		&[data-state="slide-open"] .sliding-canvas{
			transform: translateX(-100%);
		}
		&[data-state="slide-open"]{
			overflow: hidden;
		}
	}
		.slide-menu{
	    position: absolute;
	    width: 100%;
	    right: -100%;
	    top: 0;
	    bottom: 0;
	    min-height: 800px;
			@include zero;
			.list{
				padding: 1em;
			}
	  }
  }

	@media only screen and (min-width: 60em){
	  .icon-hamberger,
	  .icon-close{
	    display: none;
		&:before{
			display: none;
		}
	}
		.navigation{
			text-align: center;
		li{
			display: inline-block;
		}
	}

}
	body.noscript .navigation{
  position: static;
  right: auto;
}

body {
    margin: 0;
    font-family: $lato;
}



// footer

h5 {
    text-align: center;
    margin: 0 auto;
    padding-top: 2em;
}

.signin {
    text-decoration: none;
    color: $off-white;
    &:hover {
    color: $light-grey;
    }
}

.copyright {
    color: $off-white;
    text-align: center;
    padding: 2em;
    display: block;
    @media screen and (min-width: 38em) {
        text-align: right;
        padding-top: 0;
    }
}


.icon {
    text-align: center;

    @media screen and (min-width: 38em) {
        text-align: right;
        margin-right: 1em;
        }

    i {
        color: $teal;
        font-size: 2em;
        margin: .25em;
        display:inline;

            @media screen and (min-width: 38em) {
            font-size: 3em;
            margin-left: .5em;
            display: inline-block;
        }
    }
    
}

.graph {
    @media screen and (min-width: 38em) {
        float: left;
    }
    @media screen and (min-width: 60em) {
        padding-top: 1em;
    }
}

.graph-img {
    display: block;
    margin: auto;
    padding-bottom: .5em;
    width: 8em;

    @media screen and (min-width: 38em) {
        margin-left: 6em;
        padding-bottom: 1.5em;
        width: 6em;
    }
}

ul {
    list-style-type: none;
}

.stat-title {
    font-size: 1.25em;
    text-align: center;
    color: $off-white;
        @media screen and (min-width: 38em) {
        text-align: left;
        margin-left: 1.5em;
        margin-bottom: 1em;
        padding: 0;
    }
}

.graph-stat {
    text-align: center;
    padding-right: 2em;
    color: $off-white;
    @media screen and (min-width: 38em) {
        text-align: center;
        
    }

}

.address {
    font-size:.8em;
    text-align: center;
    padding-right: 3em;
    color: $off-white;

    @media screen and (min-width: 38em) {
        text-align: right;
    }
    @media screen and (min-width: 60em) {
        padding-top: 3em;
    }
}

.donate {
    @media screen and (min-width: 60em) {
        position: absolute;
        right: 40%;
        padding-top: 3em;
    }
}

.donate-btn {
    @include button($teal);
    margin: auto;
    width: 200px;
    margin-bottom: 1em;
    a{
    text-decoration: none;
    color: $off-white;
    }
}

footer {
    background-color: $dark-green;
		}
// footer

