<!DOCTYPE html>
<html lang="en-ca">
<head>
    <meta charset="utf-8">
    <title>Galapagos Conservancy — Preserce, Protect, and Restore the Galapagos</title>
    <link href="{{site.baseurl}}/css/galapagos.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/i49qVkvyeHfQECBiRoLBTB/icons.css" rel="stylesheet">
    <link href="{{site.baseurl}}/img/favicon.ico" rel="shortcut icon">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body class="noscript">

  <div class="site-wrapper" data-state="slide-closed">
    <div class="sliding-canvas">

      <i href="{{site.baseurl}}/index/" class="icon-logo"> </i>
  <a class="icon-hamberger i-menu" href="#main-menu"><span>menu</span><a/>
	<nav class="navigation slide-menu header">
  <a class="icon-close i-close" href="#main-menu"><span>Close</span></a>

        <ul class="list">
  					<li><a href="{{site.baseurl}}/about/">About</a></li>
  					<li><a href="{{site.baseurl}}/galapagos/">Galapagos</a></li>
  					<li><a href="{{site.baseurl}}/conservation/">Conservation</a></li>
  					<li><a href="{{site.baseurl}}/news/">News</a></li>
  					<li><a href="{{site.baseurl}}/shop/">Shop</a></li>
  					<li><a href="{{site.baseurl}}/donate/">Donate</a></li>
            <li><a href="{{site.baseurl}}/signin/">Sign In</a></li>
        </ul>
	</nav>

<main id="main">
	{{content}}
</main>

<footer id="footer">
  <div class="donate">

        <h5><a class="signin" href="{{site.baseurl}}/signin/">Sign Up for Latest News</a></h5>

        <div class="donate-btn"><a href="{{site.baseurl}}/donate/">Donate</a></div>
  </div>

  <div class="graph">
      <p class="stat-title">How Your Donations Help</p>

      <img class="graph-img" src="{{site.baseurl}}/img/fundinggraph.svg " alt="funding graph">

      <ul class="graph-stat">
        <li>75% Grants and Conservation</li>
        <li>19% Fundraising</li>
        <li>06% Management</li>
      </ul>
  </div>

   <div class="address">
        <ul>
            <li>Galapagos Consevancy</li>
            <li>11150 Fairfax Boulevard Suite 408</li>
            <li>Fairfax, Virginia, USA</li>
        </ul>
   </div>
    
	<div class="icon">
    <a style="text-decoration: none;" href="https://www.facebook.com/GalapagosConservancy/"><i class="icon-facebook"></i></a>
    <a style="text-decoration: none;" href="https://twitter.com/SaveGalapagos"><i class="icon-twitter"></i></a>
    <a style="text-decoration: none;" href="https://www.youtube.com/user/GalapagosConservancy"><i class="icon-youtube"></i></a>
    <a style="text-decoration: none;" href="https://www.instagram.com/galapagosconservancy/"><i class="icon-instagram"></i></a>
	</div>

	<div class="copyright">
		<p class=" micro">©2016 Galapagos Conservancy</p>
	</div>

</footer>

</div> <!-- /.sliding-canvas -->
</div> <!-- /.site-wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
 <script src="{{site.baseurl}}/js/index.js"></script>
</body>
</html>
